:root {
  --bg: #1a1919;
  --prtext: #00b7ff;
  --setext: #89a9ce;
}

body {
  background-color: var(--bg);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--prtext);
  height: 100vh;
  
}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}
.tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.secondary-text {
  color: var(--setext);
  width: 46%;
  text-align: center;
}
textarea {
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  font-size: x-large;
  margin-bottom: 5%;
}

button {
  background-color: transparent;
  color: var(--prtext);
  text-decoration: none;
}